/*Авторське право (c) липень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #f1f1f1;
  --fon-color-1: #1b1b1b;
  --fon-color-2: #fdfdfd;
  --color-accent: #f56e0f;
  --color-passed: #559153;
  --shadow: #878787;
  --text-color-1: #878787;
  --text-color-2: #1b1b1b;
  --text-color-3: #f56e0f;
  --text-color-passed: #559153;

}

#content {
  width: calc(100% - 5rem);
  height: calc(100% - 0.6rem);
  margin: 0 0 0 clamp(1rem, 5%, 5rem);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-color: var(--fon-color);
}

#content-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(1rem, 5%, 5rem);
  pointer-events: none;
  transition: transform 0.7s ease-in-out;


  #calendar {
    min-width: 40vmin;
    max-width: 77vmin;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;

    #month {
      margin: 0;
      font-weight: 700;
      color: var(--text-color-2);
      white-space: nowrap;
    }

    #week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
      color: var(--text-color-1);
      border-bottom: 0.1rem solid var(--shadow);
    }

    #content-calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: 1fr;

      .day-block {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        aspect-ratio: 1;
        

        p {
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: max(50%, 1.7rem);
          aspect-ratio: 1 / 1;
          background-color: transparent;
          color: var(--text-color-2);
          border-radius: 2.5rem;
          transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }
      }

      .input:checked + .day-block p {
        background-color: var(--color-accent);
        color: var(--fon-color);
      }

      .empty {
        pointer-events: none;
      }

      .weekend p {
        color: var(--text-color-1);
      }

      .today p {
        color: var(--text-color-3);
      }

      .other-month p{
        color: var(--text-color-1);
      }
    }
  }

  #event-day {
    min-width: 35.5vmin;
    max-width: 50vmin;
    width: 100%;
    height: 100%;
    /*border-left: 0.1rem solid var(--shadow);*/
    padding: 0 0 0 1rem;
    background-color: var(--fon-color);
    transition: opacity 0.5s ease-in-out;

    #title {
      width: 100%;
      height: 5rem;
      display: none;
      align-items: center;

      h1 {
        margin: 0;
        font-size: 5rem;
        letter-spacing: 0.05em;
        line-height: 1;
        color: var(--text-color-2);
        white-space: nowrap;
      }

      div {
        width: 100%;
        height: 100%;
        margin: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 0.1rem solid var(--shadow);

        p {
          margin: 0;
          font-size: 1.1rem;
          letter-spacing: 0.05em;
          color: var(--text-color-1);
          white-space: nowrap;
        }
      }
    }

    #event-day-content {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: 1.5rem;

      .routine-entry {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fon-color-2);
        border-radius: 0.5rem;
        overflow: hidden;

        .lesson-label {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem 0;
          border-left: 0.5rem solid var(--shadow);

          .info-lesson {
            width: fit-content;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            margin: 0 2rem;

            p {
              margin: 0;
              color: var(--text-color-1);
              font-size: 0.9rem;
              white-space: nowrap;
            }

            .name-subject {
              color: var(--text-color-2);
              letter-spacing: 0.01em;
              white-space: nowrap;
              width: 100%;
            }

            .info-placing {
              display: flex;
              flex-direction: row;

              .name-class {
                padding-right: 0.5rem;
              }
              
              .border {
                border-right: 0.1rem solid var(--shadow);
              }
              
              .text {
                margin: 0 0 0 0.5rem;
              }

              a {
                color: var(--text-color-3);
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                max-width: 50%;
                pointer-events: auto;
                font-size: 0.9rem;
                transition: color 0.5s ease-in-out;
              }
            }
          }

          .start-time-lesson {
            color: var(--text-color-2);
            transition: color 0.5s ease-in-out;
            margin: 0 2rem 0 auto;

            h2 {
              margin: 0;
            }
          }
        }
        .input-active:checked ~ .lesson-label {
          border-left: 0.5rem solid var(--color-accent);
          
          .start-time-lesson {
            color: var(--text-color-3);
          }

          .info-lesson a {
            color: var(--text-color-3);
          }
        }

        .input-passed:checked ~ .lesson-label {
          border-left: 0.5rem solid var(--color-passed);
          
          .start-time-lesson {
            color: var(--text-color-passed);
          }

          .info-lesson a {
            color: var(--text-color-passed);
          }
        }

      }
      .holiday p{
        margin: 1rem 0 0 0;
        font-size: 1.1rem;
        color: var(--text-color-1);
        letter-spacing: 0.01em;
      }
    }
  }
}


#content-select {
  transition: transform 0.7s ease-in-out;
}



@media (orientation: portrait) {
  #content {
    flex-direction: row;
    width: calc(100% - 0.6rem);
    height: 100%;
    margin: 0 0 5rem 0;
  }

  #content-time {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: normal;
    gap: 0;

    #calendar {
      min-width: 100%;
      max-width: 100%;
      width: 100%;

      #content-calendar {
        flex: 1;

        .day-block {
          aspect-ratio: unset;
        }
      }
    }

    #event-day {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0;
      border: none;
      background-color: var(--fon-color);
      /* opacity: 0; */
      height: 100%;
      pointer-events: none;

      & #title h1 {
        font-size: 4.5rem;
      }

      #event-day-content {
        margin: 1.5rem 0 0 0;
      }
    }
  }

  #checkbox-event-day:checked ~ #main-bar #off-event-day-button {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }

  #checkbox-event-day:checked ~ #content #content-time #calendar {
    pointer-events: none;
  }

  #checkbox-event-day:checked ~ #content #content-time #event-day {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face{
  font-family: 'Aristotelica';
  src: url('../font/AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'SourceSans3';
  src: url('../font/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
