/*Авторське право (c) липень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #f1f1f1;
  --fon-color-1: #1b1b1b;
  --fon-color-2: #fdfdfd;
  --color-accent: #f56e0f;
  --color-passed: #559153;
  --shadow: #878787;
  --text-color-1: #878787;
  --text-color-2: #1b1b1b;
  --text-color-3: #f56e0f;
  --text-color-passed: #559153;

}


.content {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-color: var(--fon-color);
}

#content-time {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-areas: "event-day gap week";
  pointer-events: none;
  justify-items: stretch;
  
  #month {
    display: none;
    /*margin: 0;
    font-weight: 700;
    color: var(--text-color-2);
    white-space: nowrap;*/
  }

  #week-grid {
    grid-area: week;
    max-width: 35vmin;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1.5rem;

    .day-block {
      /*width: 70%;*/
      height: 100%;
      cursor: pointer;
      pointer-events: auto;
      aspect-ratio: 1 / 1;
      background-color: var(--fon-color-2);
      border-radius: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--text-color-1);
      transition: background-color 0.7s ease-in-out, color 0.4s ease-in-out;
        

      p {
        margin: 0;
        font-weight: 700;
      }

      .day-number {
        font-size: 2rem;
      }
    }

    .input:checked + .day-block {
      background-color: var(--color-accent);
      color: var(--fon-color);
    }

    .today {
      color: var(--text-color-passed);
    }
  }

  #event-day-content {
    grid-area: event-day;
    max-width: 70vmin;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--fon-color);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1.5rem;
    transition: opacity 0.5s ease-in-out;

    #title {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      /*margin: 0 0 1.5rem 0;*/
        
      h1 {
        margin: 0;
        font-size: 5rem;
        letter-spacing: 0.05em;
        line-height: 1;
        color: var(--text-color-2);
        white-space: nowrap;
      }
        
      div {
        width: 100%;
        height: 100%;
        margin: 0 0 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 0.1rem solid var(--shadow);
          
        p {
          margin: 0;
          font-size: 1.1rem;
          letter-spacing: 0.05em;
          color: var(--text-color-1);
          white-space: nowrap;
        }
      }
    }

    .routine-entry {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--fon-color-2);
      border-radius: 0.5rem;
      overflow: hidden;

      .lesson-label {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;
        border-left: 0.5rem solid var(--shadow);

        .info-lesson {
          width: fit-content;
          display: flex;
          gap: 0.5rem;
          flex-wrap: wrap;
          margin: 0 2rem;

          p {
            margin: 0;
            color: var(--text-color-1);
            font-size: 0.9rem;
            white-space: nowrap;
          }

          .name-subject {
            color: var(--text-color-2);
            letter-spacing: 0.01em;
            white-space: nowrap;
            width: 100%;
          }

          .info-placing {
            display: flex;
            flex-direction: row;

            .name-class {
              padding-right: 0.5rem;
            }
              
            .border {
              border-right: 0.1rem solid var(--shadow);
            }
              
            .text {
              margin: 0 0 0 0.5rem;
            }

            a {
              color: var(--text-color-3);
              text-decoration: none;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              max-width: 50%;
              pointer-events: auto;
              font-size: 0.9rem;
              transition: color 0.5s ease-in-out;
            }
          }
        }

        .start-time-lesson {
          color: var(--text-color-2);
          transition: color 0.5s ease-in-out;
          margin: 0 2rem 0 auto;

          h2 {
            margin: 0;
          }
        }
      }

      .input-active:checked ~ .lesson-label {
        border-left: 0.5rem solid var(--color-accent);
          
        .start-time-lesson {
          color: var(--text-color-3);
        }

        .info-lesson a {
          color: var(--text-color-3);
        }
      }

      .input-passed:checked ~ .lesson-label {
        border-left: 0.5rem solid var(--color-passed);
          
        .start-time-lesson {
          color: var(--text-color-passed);
        }

        .info-lesson a {
          color: var(--text-color-passed);
        }
      }

    }

    .holiday p{
      margin: 0;
      font-size: 1.1rem;
      color: var(--text-color-1);
      letter-spacing: 0.01em;
    }
  }
}


#content-select {
  transition: transform 0.7s ease-in-out;
}



@media (orientation: portrait) {
  
  #content-time {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 5.7rem) 5fr;
    grid-template-areas: "week" "event-day";
    flex-direction: column;

    #week-grid {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0 0 1rem;
      border-bottom: 0.1rem solid var(--shadow);
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;

      .day-block {
        height: 100%;
        width: 100%;
        aspect-ratio: unset;
      }
    }

    #event-day-content {
      max-width: 100%;
      min-width: 100%;
      min-height: calc(100% - 1rem);
      height: calc(100% - 1rem);
      margin: 1rem 0 0 0;
      grid-template-rows: repeat(4, 1fr);

      #title {
        display: none;
      }
    }

    #event-day {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0;
      border: none;
      background-color: var(--fon-color);
      /* opacity: 0; */
      height: 100%;
      pointer-events: none;

      & #title h1 {
        font-size: 4.5rem;
      }
    }
  }
}

@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face{
  font-family: 'Aristotelica';
  src: url('../font/AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'SourceSans3';
  src: url('../font/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
