 /*Авторське право (c) липень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #151419;
  --fon-color-1: #262626;
  --fon-color-2: #1b1b1e;
  --color-accent: #f56e0f;
  --color-passed: #559153;
  --text-color: #B1B1B1;
  --shadow-color: rgba(177, 177, 177, 0.5);
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--fon-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  user-select: none;
  font-family: 'SourceSans3';
}
.input {
  display: none;
}

#Journal {
  background-color: var(--fon-color-1);
  width: 98%;
  height: 98%;
  border-radius: 0.7rem;
  position: relative;
  overflow: hidden;
  z-index: 3;
  display: flex;
  align-items: center;
  animation: fadeUp 0.7s ease-in-out forwards;
}

#bookmarks {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  background-color: var(--fon-color);
  border-radius: 0 0 0 1.2rem;
  padding: 0 0 0.5rem 0.5rem;
  z-index: 5;
  transition: right 0.5s ease-in-out;
}

#bookmarks::after, #bookmarks::before {
  position: absolute;
  content: '';
  height: 0.7rem;
  aspect-ratio: 1 / 1;
  background: radial-gradient(circle at bottom left, transparent 70%, var(--fon-color) 70%);
}
#bookmarks::after {
  right: 0;
  bottom: calc(-1 * 0.7rem);
}
#bookmarks::before {
  top: 0;
  left: calc(-1 * 0.7rem);
}

#bookmarks #marks {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fon-color-1);
  color: var(--text-color);
  padding: 1.25rem 0.5rem;
  border-radius: 0.7rem;
  pointer-events: auto;
  cursor: pointer;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
#marks {
  min-height: 2.09rem;
}

#marks h5 {
  writing-mode: sideways-lr;
  margin: 0;
}

#content {
  position: absolute;
  right: 0;
  margin: 0 0.5rem 0 0;
  height: 98%;
  width: 30vw;
  background-color: var(--fon-color-2);
  z-index: 5;
  display: flex;
  pointer-events: none;
  border-radius: 0.7rem;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.5s, visibility 0.5s ease-in-out 0.5s;
}

#off {
  position: absolute;
  width: 2rem;
  aspect-ratio: 1/1;
  top: 0.1rem;
  right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#off::after, #off::before {
  content: '';
  position: absolute;
  width: 55%;
  height: 0.13rem;
  background-color: var(--shadow-color);
  border-radius: 0.3rem;
  transition: background-color 0.5s ease-in-out;
}
#off::after {
  transform: rotate(-45deg);
}
#off::before {
  transform: rotate(45deg);
}

#choice {
  margin: 2rem 0 0 0;
}
.view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#select-div {
  width: 70%;
  height: 2.2rem;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#button-subject {
  width: calc(100% - 2rem);
  background-color: var(--fon-color);
  height: 100%;
  border-radius: 0.7rem;
  color: var(--shadow-color);
  display: flex;
  padding: 0 1rem 0 1rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#button-subject p {
  margin: 0;
}
#button-subject span {
  height: 35%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.select-arrow::after, .select-arrow::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: var(--shadow-color);
  transition: all 0.5s ease-in-out;
}
.select-arrow::before {
  transform: rotate(90deg);
}

.content-select {
  position: absolute;
  top: 2.7rem;
  width: 100%;
  background-color: var(--fon-color);
  height: 5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0.7rem;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.content-select li {
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  color: var(--shadow-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#view-choice {
  height: 70%;
  width: 100%;
  margin: 1rem 0 0 0;
}


#view-choice::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

#view-choice::-webkit-scrollbar-thumb{
  background-color: var(--color-accent);
  border-radius: 25px;
}
#view-choice::-webkit-scrollbar-track {
  background: transparent;
}
#view-choice::-webkit-scrollbar-corner {
  background: transparent;
}

/*При наведення*/
#bookmarks #marks:hover {
  color: var(--color-accent);
}

#off:hover::after,
#off:hover::before {
  background-color: var(--color-accent);
}
#button-subject:hover {
  color: var(--color-accent);
}
#button-subject:hover .select-arrow::after, 
#button-subject:hover .select-arrow::before {
  background-color: var(--color-accent);
}
.content-select li {
  color: var(--fon-color);
  background-color: var(--color-accent);
}


/*Взаємодія з інпут*/
#select:checked ~ #content {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
#select:checked ~ #content .view {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#select-subject:checked ~ #button-subject .select-arrow::before {
  transform: rotate(0deg);
}
#select-subject:checked ~ .content-select {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#subject:checked ~ #table,
#class:checked ~ #table {
  opacity: 0.7;
  pointer-events: none;
  filter: blur(0.05rem);
}

@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face{
  font-family: 'Aristotelica';
  src: url('./AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}