/*Авторське право (c) липень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #fbfbfb;
  --fon-color-1: #1b1b1b;
  --color-accent: #f56e0f;
  --shadow: #878787;
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--fon-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  user-select: none;
  font-family: 'SourceSans3';
}
.input {
  display: none;
}

#Journal {
  width: 95%;
  height: 90%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  animation: fadeUp 0.7s ease-in-out forwards;
}

#main-bar {
  width: 5rem;
  height: calc(100% - 0.6rem);
  background-color: var(--fon-color-1);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0.3rem var(--shadow);


  .marks {
    width: 70%;
    aspect-ratio: 1 / 1;
    margin-top: 1.5rem;
    position: relative;
    box-sizing: border-box;
  }

  #time-button {
    width: 55%;
    aspect-ratio: 1 / 1;
    outline: 0.21rem solid var(--shadow);
    outline-offset: -0.21rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    transition: outline-color 0.7s ease-in-out;


    span {
      width: 0.21rem;
      height: 55%;
      border-radius: 0.21rem;
      position: absolute;


      &::after {
        content: '';
        height: 55%;
        width: 100%;
        position: absolute;
        border-radius: 0.21rem;
        background-color: var(--shadow);
        transition: background-color 0.7s ease-in-out;
      }
    }

    #minut {
      transform: rotate(-45deg);
      display: flex;
      flex-direction: column-reverse;
    }

    &:hover {
      outline-color: var(--color-accent);
      
      span::after {
        background-color: var(--color-accent);
      }
    }
  }
}


.content {
  position: absolute;
  width: calc(100% - 7rem);
  height: calc(100% - 0.6rem);
  margin: 0.3rem 0 0.3rem 7rem;
  background-color: var(--shadow);
}

#content-time {
  z-index: 7;
  position: relative;


  #calendar {
    background-color: var(--fon-color-1);
    width: 30rem;
    aspect-ratio: 1 / 1;

    #week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    #content-calendar {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }
}



#content-select {
  z-index: 5;
}

#table {
  z-index: 3;
}

/*Клік*/
#time:checked ~ #main-bar #time-button {
  outline-color: var(--color-accent);


  span::after {
    background-color: var(--color-accent);
  }
}

@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face{
  font-family: 'Aristotelica';
  src: url('./AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*button {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        position: relative;

        position: relative;
        width: 1rem;
        height: 100%;


        &::after, &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 0.3rem;
          border-radius: 0.3rem;
          background-color: var(--fon-color);
        }
      }

      #back::after {
        bottom: calc(50% - 0.27rem);
        transform: translateY(50%) rotate(45deg);
      }

      #back::before {
        top: calc(50% - 0.27rem);
        transform: translateY(-50%) rotate(-45deg);
      }*/