 /*Авторське право (c) липень 2026 рік Сікан Іван Валерійович.*/
:root {
  --fon-color: #fbfbfb;
  
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--fon-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  user-select: none;
  font-family: 'SourceSans3';
}
.input {
  display: none;
}

#Journal {
  width: 95%;
  height: 95%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: fadeUp 0.7s ease-in-out forwards;
}



@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face{
  font-family: 'Aristotelica';
  src: url('./AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
