/*Авторське право (c) серпень 2025 рік Сікан Іван Валерійович.*/
:root{
  --fon-color: #1b1b1b;
  --color-accent: #f56e0f;
  --color-accent-shadow: rgba(245, 110, 15, 0.7);
  --fon-color-2: #262626;
  --text-color: #878787;
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--fon-color);
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  user-select: none;
}

h1 {
  font-family: 'Aristotelica';
  font-weight: 400;
  font-size: clamp(2rem, 7vh, 5rem);
  cursor: default;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards; 
}

.loginForm, #newPasswordFields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.loginForm {
  width: clamp(15rem, 21vw, 17rem);
  box-sizing: border-box;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards;
}

#newPasswordFields {
  width: 100%;
}

.loginForm input, .loginForm button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  box-sizing: border-box;
  font-size: clamp(1rem, 2.35vh, 2.5rem);;
  font-family: 'SourceSans3';
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.loginForm input {
  border: 0.1rem solid transparent;
  background-color: var(--fon-color-2);
  color: var(--text-color);
  outline: none;
}

.loginForm button {
  border: 0;
  background-color: var(--text-color);
  color: var(--fon-color);
}

.loginForm input:hover {
  border: 0.1rem solid var(--color-accent);
  color: var(--color-accent);
}

.loginForm input:focus {
  color: var(--color-accent);
  caret-color: var(--color-accent);
}
.loginForm button:hover {
  transform: scale(1.01);
  background-color: var(--color-accent);
}
.loginForm button.active-animation {
  transform: none;
  background-color: var(--color-accent);
}
footer {
  width: auto;
  bottom: 0;
  font-size: clamp(0.5rem, 1.3vh, 0.7rem);
  color: var(--text-color);
  position: absolute;
  -webkit-animation: fadeOldUp 1.7s ease-in-out forwards;
  animation: fadeUp 1.7s ease-in-out forwards;
}

@media (orientation: portrait) {
  .loginForm {
    width: 50%;
  }

  .loginForm button:hover {
    transform: none;
    background-color: var(--color-accent);
  }
}

@-webkit-keyframes fadeOldUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeUp {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blink{
  0%, 80%, 100%{
    opacity: 0.2;
  }
  40%{
    opacity: 1;
  }
}
@font-face {
  font-family: 'Aristotelica';
  src: url('./AristotelicaSmallCaps-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSans3';
  src: url('./SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
